.maingal {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}

.gal {
  margin: 0;
  margin-bottom: 4rem;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-wrap: wrap
}

.gal li {
  width: 160px;
  max-width: 160px;
  
  object-fit: cover;
}

.gal li img {
  max-width: 100%;
  height:auto;
}

.case {
  margin: 1rem;
}

.mainGalList, .mainGalListx {
  margin: 1rem auto;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  list-style: none;
}

.mainGalList li, .mainGalListx li {
  margin-bottom: 0;
  
}

.gal .galle { 
  width: 50% !important;
}


.mainGalListx  {
  gap: 2rem
}

.mainGalList li .mediumlink h2,
.mainGalListx li .mediumlink h2 {
  font-size: 1.6rem;
  margin-top: 0;
  color: #f1bb38;
  text-decoration: none;
  border-bottom: 1px solid;
  display: block;
}

.mainGalList li .mediumlink p,
.mainGalListx li .mediumlink p {
  margin: 1rem auto;
}

.mainGalList li .mediumlinkimg img,
.mainGalListx li .mediumlinkimg img {
  max-width: 100%;
}

.logolink {
  max-height: 8rem;
  width: auto;
  margin: 2rem 0 2rem;
  display: block
}



.flex > div {
  margin-top: 2rem;
  white-space: pre-wrap;
}

.dimbox-container {
    touch-action: manipulation;

}


@media screen and (min-width: 1024px) {

  
  .mainGalList li,
    .mainGalListx li  {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;
    width: 100%;
  }

  .mainGalList li, .mainGalListx li {
  margin-bottom: 6rem;
}
.mainGalList li .mediumlink h2,
.mainGalListx li .mediumlink h2 {
  font-size: 2.6rem;
 
}

.gal li {
  width: 240px;
  max-width: 240px;
  
  object-fit: cover;
}

  .flex {
  display: flex;
  gap:4rem;
  flex-wrap: nowrap;
  align-items: center;

}

.flex > .eventlink {
  text-align: right;
  display: block;
}
  .mainGalList li .mediumlink {
    width: 70%;
  }
  .mainGalListx li .mediumlink,
  .mainGalListx li .mediumlinkimg  {
    width: 50%;
  }

  .mainGalList li .mediumlinkimg {
    width: 28%;
  }
}
